body{
    background-color: pink;
}
.container {
    width: 95%;
    padding: 10px;
    background:black;
    /* background-image: url('facimages/gr2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    margin: -25px auto;
    display: flex;
    justify-content: center;
    height: 590px;
}
.box {
    width: 370px;
    height: 500px;
    background: rgb(165, 153, 156);
    border-radius: 28px;
    top:-70px;
    margin-left: 25px;
    margin-top: 60px;
    transition: all 2s ease-in-out;
   
}

.imgg {
    width: 350px;
    padding: 8px;
    height: 300px;
    margin: 5px 10px;
    margin-left: -0px;
    border-radius: 28px;

}
h1{
    text-align: center;
    text-decoration: underline;
    background-color:black;
    color: white;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    padding: 10px;
    word-spacing: 5px;
    letter-spacing: 3px;
}
.h1h{
    text-align: center;
    text-decoration: underline;
    background-color: rgb(114, 68, 68);
    color:white;
    font-weight: bold;
    font-family: 'Baloo Bhai 2', cursive;
    font-style: italic;
    font-size: 28px;
    
}

.para{
    color: white;
    background-color: rgb(41, 30, 33);
    font-weight: lighter;
    text-align: center;
    font-family: 'Tapestry', cursive;
    padding: 9px;
    word-spacing: 4px;
    font-size: 18px;
    border-radius: 28px;
   box-shadow: 3px 3px 3px crimson;
}

.pimgg {
    width: 240px;
    padding: 7px;
    height: 260px;
    margin: 5px 10px;
    margin-left: -0px;
    border-radius: 28px;

}
.boxp{
    width: 250px;
    height: 300px;
    background: rgb(248, 120, 152);
    border-radius: 28px;
    top:-70px;
    margin-left: 27px;
    margin-top: 80px;
    transition: all 2s ease-in-out;
}
.pbox{
    width: 330px;
    height: 400px;
    background-color: rgb(107, 59, 89);
    border-radius: 28px;
    top:-70px;
    margin: 4px auto;
    margin-left: 15px;
    transition: all 2s ease-in-out;
    border: 4px solid black;
}
.himgg{
    width:270px;
    height: 260px;
    border-radius: 28px;
    padding: 17px;
    margin: 2px auto;

}
.prcon{
    height: 440px;
}
.pr{
    margin-top: -800px;
   margin-right: -150px;
   margin-left: 170px;
}
.hp{
    margin: -10px auto;
    padding: 3px;
}
.prmcon{
    height: 390px;
}
#prim{
    height: 860px;
    background-color:black;
}
.a{
    height: 300px;
    width: 280px;
}
.b{
    height: 500px;
    width: 800px;
    margin-left: 180px;
    padding: 78px;
    display: flex;
    margin-top: -230px;
}
.c{
    height: 500px;
    width: 800px;
    margin-left: 70px;
    padding: 78px;
    display: flex;
    margin-top: -10px;
}
.pp{
    margin-left: 150px;
    background-color:crimson;
    font-weight: bold;
    margin-top: 170px;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 6px;

}
.c1{
    height: 500px;
    width: 800px;
    margin-left: 70px;
    padding: 78px;
    display: flex;
    margin-top: -470px;
}
.b1{
    display: flex;
    margin-top: 840px;
    margin-left: 250px;
    
  
}
.ps{
    margin-left: 390px;
    background-color: crimson;
    font-weight: bold;
    font-size: 16px;
    margin-top: -520px;
    padding: 10px;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 6px;
}
#sec{
    background-color: black;
    height: 980px;
  
}